## String

* Sequence of characters, numbers or amalgation of characters and numbers
* Written under single or double (preferred) quotes

In [1]:
# normal string without assigning some variable

"string data type"

'string data type'

In [2]:
# we can use either double (preferred) or single quote(s)

'string data type'

'string data type'

In [3]:
# assign string to a variable

str_name = "Python programming language"

str_name

'Python programming language'

### Indexing

In [4]:
# use indexing to display string elements
# indexing starts with 0 
# first element is having an index of 0

str_name[0]

'P'

In [5]:
str_name[3]

'h'

In [6]:
# Python supports negative indexing also, -1 is for last item, -2 for second last and so on

str_name[-1]

'e'

In [7]:
str_name[-2]

'g'

### Slicing

In [8]:
# slicing method is used to display desired part of the string [start:end:step_size], end means end-1

str_name[2:]

'thon programming language'

In [9]:
str_name[:6]

'Python'

In [10]:
# start : 3 and end : 9

str_name[3:9]

'hon pr'

In [11]:
# [::] means start=0, end=last element of the string, step_size=1

str_name[::]

'Python programming language'

In [12]:
# step size is 2

str_name[::2]

'Pto rgamn agae'

In [13]:
# new string

s = "Neeraj Sinha"

In [14]:
s[::-1]           # It is also an one of the methods to reverse the string

'ahniS jareeN'

### Concatenation

In [15]:
# strings concatenation
# case 1 : without using variable

"Hello!" + s

'Hello!Neeraj Sinha'

In [16]:
# case 2 : with variable

t = "Hi!"

t + s

'Hi!Neeraj Sinha'

In [17]:
# case 3 : with numeral string

a = "10"
b = "20"

In [18]:
a + b

'1020'

### Scalar Multiplication

In [19]:
# scalar multiplication with the string

s1 = "Project"

s1*3

'ProjectProjectProject'

### String functions

In [20]:
x = "Good Afternoon"

In [21]:
# convert the string in uppercase

x.upper()

'GOOD AFTERNOON'

In [22]:
# convert the string in lowercase

x.lower()

'good afternoon'

In [23]:
# split the words/characters as per the provided separator
# By default separator is space
# case 1 : with default separator

x.split()

['Good', 'Afternoon']

In [24]:
# case 2 : with other separator

x.split("o")

['G', '', 'd Aftern', '', 'n']

In [25]:
# length of the string

len(x)

14

In [26]:
# strip() : remove white space from beginning or end
# # case 1 : spaces are there on both the ends

y = " Python "
y.strip()

'Python'

In [27]:
# case 2 : spaces are there only on the left end

z = "  Java"
z.strip()

'Java'

In [28]:
# case 3 : spaces are there only on the right end

s = ".NET    "
s.strip()

'.NET'

In [29]:
# case 4 : spaces are there on both the ends and in b/w the string

t = " Programming Languages : C, C++, Java, Python "
t.strip()

'Programming Languages : C, C++, Java, Python'

In [30]:
# replace word or character(s) in a string

val = "Sincere"

val.replace("Since","The")

'There'

### Check for a string

In [31]:
s1 = "Hello! How are you"

In [32]:
# check a particular string's existence in a given string

"Hello" in s1

True

In [33]:
"Hi" in s1

False

In [34]:
# check non-existence a particular string in a given string

"Hello" not in s1

False

In [35]:
"Hi" not in s1

True

### String formatting

In [36]:
# Type 1 : using .format()
# Type 2 : using f-string

#### .format()

* It is useful when large set of variables are there whose values need to be added to do string formating
* More readable and convenient to use whenever some alteration is required
* Indexing make things easy

In [37]:
# value is directly provided in the format() function
# case 1 : single value

print('the flower is very {}'.format('beautiful'))

the flower is very beautiful

In [38]:
# case 2 : multiple values

print('My name is {} {}'.format('neeraj','sinha'))

My name is neeraj sinha

In [39]:
# use numbering/indexing to get the value
# case 1 : manual indexing to automatic

print('My name is {0} {}'.format('neeraj','sinha'))

ValueError: cannot switch from manual field specification to automatic field numbering

In [40]:
# case 2 : automatic indexing to manual

print('My name is {} {0}'.format('neeraj','sinha'))

ValueError: cannot switch from automatic field numbering to manual field specification

* Note : Here the indexing would be done either manually or automatically instead mix of both

In [41]:
# manual indexing
# case 1

print('My name is {1} {0}'.format('neeraj','sinha'))

My name is sinha neeraj

In [42]:
# case 2

print('My name is {0} {0}'.format('neeraj','sinha'))

My name is neeraj neeraj

In [43]:
# Variable name is provided to format() function
# case 1

str_name = "Python"

print('{} is a programming language'.format(str_name))

Python is a programming language

In [44]:
# case 2

print('Hello! {s}'.format(s = "Good Evening"))

Hello! Good Evening

In [48]:
# case 3

print('Welcome! to the {} of {}'.format(s1 = "world", s2 = "programming"))

IndexError: tuple index out of range

In [50]:
# case 4

print('Welcome! to the {s1} of {s2}'.format(s1 = "world", s2 = "programming"))

Welcome! to the world of programming

In [51]:
# round the number upto desired decimal place

res = 100/77
res

1.2987012987012987

In [57]:
print('Rounded value of the result upto 3 decimal place : {r:0.3f}'.format(r = res))

Rounded value of the result upto 3 decimal place : 1.299

#### f-string

In [60]:
# with one variable

name = 'neeraj'
print(f'His name is {name}')

His name is neeraj

In [61]:
# with multiple variables

x = 'Hello'
y = 'you'

print(f'{x}! how are {y} doing?')

Hello! how are you doing?

In [62]:
# get the string from user

s1 = input("Enter a string : ")

Enter a string : Welcome