## Lists

* one of the compound data types use to group together other values
* list of comma-separated values b/w square brackets
* mutable (liable to change) ordered and indexed collections of objects

In [1]:
# declare an empty list

l = []

type(l)  # type() is used to get the type of an object

list

In [2]:
# list with some values
# case 1 : integer values

l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [3]:
# case 2 : string values

l2 = ["C", "C++", "Java", "Python"]

print(l2)

['C', 'C++', 'Java', 'Python']

In [4]:
# case 3 : mix of different values

l3 = ["Neeraj", "secured", 3, "rank", "with", 420.0, "marks"]

print(l3)

['Neeraj', 'secured', 3, 'rank', 'with', 420.0, 'marks']

In [5]:
# get the length of a list

len(l3)

7

In [6]:
# indexing
# case 1

lang_list = ["Hindi", "English", "Spanish", "French", "Portuguese"]

lang_list[2]

'Spanish'

In [7]:
# case 2 : negative indexing
# -1 refers to last item
# -2 refers to second last item and so on..
# elements in the list are having dual indexes +ve or -ve

lang_list[-1]

'Portuguese'

In [8]:
# range indexing
# case 1 : no index is provided
# before : provide start index
# after : provide end index = end - 1

lang_list[:]

['Hindi', 'English', 'Spanish', 'French', 'Portuguese']

In [9]:
# case 2 : only start index is provided

lang_list[1:]

['English', 'Spanish', 'French', 'Portuguese']

In [10]:
# case 3 : end index is provided

lang_list[:3]

['Hindi', 'English', 'Spanish']

In [11]:
# case 4 : start and end both are provided


lang_list[1:3]

['English', 'Spanish']

In [12]:
# check the mutability of a list
# we try to change the value of a given list

name_list = ["Uzwal","Shivani","Anoz","Dinkar","Neeraj"]
name_list

['Uzwal', 'Shivani', 'Anoz', 'Dinkar', 'Neeraj']

In [13]:
name_list[0] = "Aman"

In [14]:
# check for the change in the initially given list

name_list

['Aman', 'Shivani', 'Anoz', 'Dinkar', 'Neeraj']

**Note : Hence, list is mutable as its value can be changed

In [15]:
# Basic functions on list
# case 1 : append()
# append() add elements at the end of the list
# add single value

name_list.append("Uzwal")
name_list

['Aman', 'Shivani', 'Anoz', 'Dinkar', 'Neeraj', 'Uzwal']

In [16]:
# add multiple values

name_list.append("Sheenu")
name_list.append("Vikas")
name_list

['Aman', 'Shivani', 'Anoz', 'Dinkar', 'Neeraj', 'Uzwal', 'Sheenu', 'Vikas']

In [17]:
# case 2 : pop()
# pop() removes element from the end
# we can remove element at a specific index

name_list.pop()

'Vikas'

In [18]:
# remove the element "Neeraj"

name_list.pop(4)

'Neeraj'

In [19]:
name_list

['Aman', 'Shivani', 'Anoz', 'Dinkar', 'Uzwal', 'Sheenu']

In [21]:
# case 3 : extend()
# extend() iterates over its arguments and adding each elements to the list
# Hence list gets extended
# The length of the list increases by number of elements in it’s argument

a = [10,20,30]
b = [1,2,3]
c = [2,4,8,10]

a.extend(b)

a

[10, 20, 30, 1, 2, 3]

In [22]:
# if we try to do the above thing with append()
# then we will be having nested list
# append() adds its argument as a single element to the end of a list
# the length of the list increases by one

b.append(c)

b

[1, 2, 3, [2, 4, 8, 10]]

In [23]:
# A string is an iterable
# if you extend a list with a string, you’ll append each character as you iterate over the string
# every character is treated as a single element

s = "Great"

b.extend(s)

b

[1, 2, 3, [2, 4, 8, 10], 'G', 'r', 'e', 'a', 't']

In [24]:
# case 4 : insert()
# to add element at a specific index
# elements get shifted to the right from the provided index 

x = [1,4,10]

x.insert(2,"Hello")

x

[1, 4, 'Hello', 10]

In [25]:
# case 5 : remove()
# removes the specified item

x.remove(10)

x

[1, 4, 'Hello']

In [26]:
# case 6 : del
# delete specified index value or entire list

del x[2]

x

[1, 4]

In [27]:
# delete entire list

del x

print(x)

NameError: name 'x' is not defined

In [28]:
# case 7 : clear()
# empties the list

a = [10,"Hello",20.0,15]

a

[10, 'Hello', 20.0, 15]

In [29]:
a.clear()

In [30]:
a

[]

In [31]:
# case 8 : sort()
# sort the list items

a = [1,20,5,100,50]
b = ["Hello", "Neeraj", "Aman", "Shivani", "Anoz"]

print(a)
print(b)

[1, 20, 5, 100, 50]
['Hello', 'Neeraj', 'Aman', 'Shivani', 'Anoz']

In [33]:
a.sort()

a

[1, 5, 20, 50, 100]

In [34]:
b.sort()

b

['Aman', 'Anoz', 'Hello', 'Neeraj', 'Shivani']

In [36]:
# case 9 : reverse()
# reverse the list

x = [1,2,3,4,5]

x.reverse()

x

[5, 4, 3, 2, 1]