## Tuple

- Tuples are immutable ordered and indexed collections of objects
- Comma speparated values inside simple paranthesis "()"

Syntax : tuple_name = (val1, val2, val3,.....)

In [1]:
# create a tuple

tup_name = ("Hello", "Neeraj", "Sinha")

tup_name

('Hello', 'Neeraj', 'Sinha')

In [2]:
# access tuple items
    
tup_name[1]

'Neeraj'

In [3]:
tup_name[2]

'Sinha'

In [4]:
# get the type 

type(tup_name)

tuple

In [5]:
# get the last item

tup_name[-1]

'Sinha'

In [6]:
# range of indexes
# get the new tuple with the specified range using above mentioned method
# write start index before colon
# write end index after colon
# case 1 : without start and end indexes

t_name = ("Neeraj", "Shivani", "Uzwal", "Anoz", "Dinkar")

t_name[:]

('Neeraj', 'Shivani', 'Uzwal', 'Anoz', 'Dinkar')

In [7]:
# case 2 : with start index

t_name[1:]

('Shivani', 'Uzwal', 'Anoz', 'Dinkar')

In [10]:
# case 3 : with end index

t_name[:2]

('Neeraj', 'Shivani')

In [11]:
# case 4 : with both the indexes

t_name[1:4]

('Shivani', 'Uzwal', 'Anoz')

In [12]:
# case 5 : with negative index
# reverse the order of items

t_name[-1: :-1]

('Dinkar', 'Anoz', 'Uzwal', 'Shivani', 'Neeraj')

In [13]:
# count frequency of a specific item
# count()

t = ("a", "a", "b", "c", "a", "b", "a", "c", "d")

print(t.count('a'))
print(t.count('b'))
print(t.count('c'))
print(t.count('d'))

4
2
2
1

In [18]:
# to get the index of a specific item
# index()

a = (1, 3, 4, 10, 6)

a.index(3)

1

In [19]:
# Immutability of tuple
# we cannot change tuple item(s)

b = ("Neeraj", "Aman", "Anoz", "Harish")

b

('Neeraj', 'Aman', 'Anoz', 'Harish')

In [20]:
b[1] = "Dinkar"

TypeError: 'tuple' object does not support item assignment

In [23]:
# to change tuple item
# convert tuple into list
# do required changes
# convert the list back to tuple

a = list(b)

a

['Neeraj', 'Aman', 'Anoz', 'Harish']

In [25]:
# changing item at index 1

a[1] = "Dinkar"

a

['Neeraj', 'Dinkar', 'Anoz', 'Harish']

In [26]:
# display tuple, b (initial tuple)

b

('Neeraj', 'Aman', 'Anoz', 'Harish')

In [27]:
# convert the list, a back to tuple
# overwrite it to the initial tuple

b = tuple(a)

b

('Neeraj', 'Dinkar', 'Anoz', 'Harish')

In [28]:
# create a tuple with only one item,
# add a comma after the item (*necessary)
# otherwise Python will not recognize it as a tuple
# case 1 : without comma

t1 = ("Neeraj")

type(t1)

str

In [29]:
# case 2 : with comma

t2 = ("Neeraj",)

type(t2)

tuple

In [30]:
# Cannot remove items
# reason : tuples are unchangeable
# if we try then error will be generated

a = (1, 2, 2, 4)

del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [31]:
# we can delete the entire tuple

del a

In [32]:
a

NameError: name 'a' is not defined

In [33]:
# join two tuples

x = ("Developer", "Tester", "Analyst")
y = (1, 3, 4, 5)

z = x + y

z

('Developer', 'Tester', 'Analyst', 1, 3, 4, 5)